.cabecalho {
    background-color: #ae8625;
    color: white;
    padding: 15px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.rodapecabecalho {
    background-color:white;
    color: #333;
    padding: 2px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
}
.calculadora {
    background-color: #ae8625;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: center;
    display: grid;
    height: 500px;
    width: 300px;
}
.display {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
}
.botoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.botao {
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    cursor: pointer;
}
.botao:hover {
    background-color: #ddd;
}
#resultado {
    width: 100%;
    height: 80px;
    font-size: 32px;
    text-align: right;
    padding: 15px;
    border-radius: 8px;
    border: none;
}